/* src/App.css */
.App {
  text-align: center;
}

/* Ensure header is centered */
header {
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App {
    padding: 0 10px; /* Example padding adjustment */
  }
}

@media (max-width: 480px) {
  .App {
    padding: 0 5px; /* Further padding adjustment for smaller screens */
  }
}

/* src/components/Header.css */
header {
  background: #000;
  padding: 1em;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0; /* Remove default padding to fit better on smaller screens */
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em; /* Adjust padding for better touch target on smaller screens */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column; /* Stack navigation vertically on smaller screens */
  }
}


/* Hide scrollbar for Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* General button styling */
.responsive-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(40, 167, 69, 0.6);
}

.responsive-button:hover {
  background-color: #218838;
  box-shadow: 0 0 20px rgba(40, 167, 69, 0.8);
}

/* Responsive adjustments for .responsive-button */
@media (max-width: 768px) {
  .responsive-button {
    padding: 12px 24px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .responsive-button {
    padding: 10px 20px;
    font-size: 12px;
  }
}
